.serv-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.serv{
    background: var(--color-bg-var);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-prim);
    height: fit-content;
   transition: var(--tran);
}
.serv:hover{
    background: transparent;
    border-color:var(--color-prim-var);
    cursor: default;
}
.serv-head{
    background: var(--color-prim);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
.serv-head h3{
    color: var(--color-bg-var);
    font-size: 1rem;
    text-align: center;
}
.serv-list{
    padding: 2rem;
}
.serv-list li{
    display: flex;
    gap:1rem;
    margin-bottom: .8rem;
}
.serv-list p{
    font-size: .9rem;
}
/*******************for tablet********************/
@media screen and (max-width:1024px) {
    .serv-cont{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .serv{
        height: auto;
    }
   }
   /*******************for mobile********************/
   @media screen and (max-width:600px) {
    .serv-cont{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
      }